language: python
matrix:
  include:
    - name: Plone 5.0
      python: 2.7
      env: PLONE_VERSION=50
    - name: Plone 5.1
      python: 2.7
      env: PLONE_VERSION=51
    - name: Plone 5.2/2.7
      python: 2.7
      env: PLONE_VERSION=52
    - name: Plone 5.2/3.6
      python: 3.6
      env: PLONE_VERSION=52

before_script:
  - sleep 10

before_install:
  - sudo apt-get install -y graphicsmagick poppler-utils poppler-data ghostscript qpdf tesseract-ocr
  - sudo apt-get install -y tesseract-ocr-all
  - sudo apt-get install -y libreoffice

install:
  - mkdir -p buildout-cache/{eggs,downloads}
  - pip install -r requirements.txt
  - pip install pyflakes==1.6.0 pycodestyle==2.3.1 flake8==3.5.0;
  - if [ "$PLONE_VERSION" == "50" ]; then
    buildout -Nc travis-5.0.cfg;
    fi
  - if [ "$PLONE_VERSION" == "51" ]; then
    buildout -Nc travis-5.1.cfg;
    fi
  - if [ "$PLONE_VERSION" == "52" ]; then
    buildout -Nc travis.cfg;
    fi
script:
  - flake8 collective/documentviewer;
  - bin/test;
