[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg

parts =
    tests
    instance

package-name = collective.documentviewer
package-extras = [test]
parts = test
develop = .
eggs +=
    collective.documentviewer[test]