include *.js
include *.json
include *.py
include *.rst
include *.txt
include Makefile
include buildout.cfg
include travis.cfg
include .tx/config
graft collective
graft docs
global-exclude *.pyc *.pyo
