[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.1.x.cfg
    versions.cfg
parts = test

package-name = collective.documentviewer
package-extras = [test]
test-eggs =

# avoid timeouts by downloading only from known hosts
allow-hosts =
    *.plone.org
    *.python.org
    *.zope.org
    docutils.sourceforge.net
    effbot.org
    prdownloads.sourceforge.net

versions = versions
[test]
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}
