#annotate-remove{
    position: absolute;
    top: 50px;
    left: 350px;
    width: 450px;
    min-height: 140px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px black;
    z-index: 9999999;
    padding: 5px;    
}

#annotate-controls{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 140px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px black;
    z-index: 9999999;
    padding: 5px;
}

#annotate-controls .add{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 15px;
    padding: 5px;
}

#annotate-controls textarea{
    width: 100%;
    height: 45px;
}

#annotate-controls input{
    width: 100%;
}

#close{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 15px;
    padding: 5px;
}

#annotate-container{
    position: absolute;
    top: 25px;
    left: 350px;
    z-index: 9999999;
}

#annotate-container img{
    visibility: visible !important;
    box-shadow: 0px 0px 30px 0px black;
}



#annotation-management, #section-management{
    display: none;
    width: 98%;
    margin: 5px;
    padding: 5px;
    border: 2px solid #ddd;
    position: relative;
}

#annotation-management div.close, #section-management div.close{
    background-image: url(../../pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 100;
}

#annotation-management div.close span, #section-management div.close span{
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

#pagesel-container{
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 100;
}

#annotation-management{
    min-height:400px;
}

#image-container img{
    visibility: visible !important;
    border: 2px solid #DDD;
}

#image-container{
}

#right-container{
    position: absolute;
    top: 25px;
    right: 20px;
    width: 350px;
    overflow:scroll;
}

#add-annotation textarea{
    height:120px;
}

#section-management{

}

.add{
    padding: 5px;
}